﻿@model NewsWeb.Models.MetadataListModel
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Metadata</h2>

<h3><button type="button" class="btn btn-link" style="color:red">@Html.ActionLink("Add Metadata", "AddMetadata", "Metadata")</button></h3>
<div class="row">
    <div class="col-sm-2">
        @await Html.PartialAsync("~/Views/Shared/admin/_AdminLeftMeu.cshtml")
    </div>
    <div class="col-sm-5">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Country</th>
                    <th>Category</th>
                    <th>Company</th>
                    <th>Rss Path</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.MetadataDto)
            {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Country</td>
                        <td>@item.Category</td>
                        <td>@item.Company</td>
                        <td>@item.RssPath</td>
                        <td><button type="button" class="btn btn-link">N/A</button></td>
                        <td><button type="button" class="btn btn-link" style="color:red">@Html.ActionLink("Delete", "Delete", "Metadata", new { id = item.Id }, null)</button></td>
                    </tr>
                }

            </tbody>
        </table>
        <news-list></news-list>
    </div>
    <div class="col-sm-5"></div>
</div>