﻿@model NewsWeb.Models.CategoryModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Add Category</h2>

<div class="row">

    <div class="col-sm-2">
        @await Html.PartialAsync("~/Views/Shared/admin/_AdminLeftMeu.cshtml")
    </div>
    <div class="col-sm-4">
        @using (Html.BeginForm("AddCategory", "Category", FormMethod.Post))
        {
            @Html.HiddenFor(x => x.Id)
            <div class="form-group">
                @Html.LabelFor(x => x.Title, new { @class = "control-label" })
                @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.IsActive, new { @class = "control-label" })
                @Html.CheckBoxFor(x => x.IsActive, new { @class = "checkbox" })

            </div>
            <input id="btnSubmit" class="btn btn-default" type="submit" value="Submit" />
        }


    </div>
    <div class="col-sm-6"></div>

</div>