﻿
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>-->
            <!--<a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">NewsWeb</a>-->
        </div>
        <!--<div class="navbar-collapse collapse">
            <ul class="nav navbar-nav" style="margin-top:10px;">
                
                <li>&nbsp;<button type="button" class="btn" style=" outline: 0;" ng-model="hr1" [ngClass]="{'btnHrStyleClicked': hr1clicked, 'btnHrStyle': !hr1clicked}" (click)="hrClick(1)">1 Ώρα</button></li>
                <li>&nbsp;<button type="button" class="btn" style=" outline: 0;" ng-model="hr2" (click)="hrClick(12)" [ngClass]="{'btnHrStyleClicked': hr2clicked, 'btnHrStyle': !hr2clicked}">12 Ώρες</button></li>
                <li>&nbsp;<button type="button" class="btn" style=" outline: 0;" ng-model="hr3" (click)="hrClick(24)" [ngClass]="{'btnHrStyleClicked': hr3clicked, 'btnHrStyle': !hr3clicked}">24 ΄Ωρες</button></li>

              
            </ul>
           
        </div>-->
        <ul class="timeList" style="margin-top:10px; min-width:300px;">

            <li>&nbsp;<button type="button" class="btn" style=" outline: 0;" ng-model="hr1" [ngClass]="{'btnHrStyleClicked': hr1clicked, 'btnHrStyle': !hr1clicked}" (click)="hrClick(1)">1 Ώρα</button></li>
            <li>&nbsp;<button type="button" class="btn" style=" outline: 0;" ng-model="hr2" (click)="hrClick(12)" [ngClass]="{'btnHrStyleClicked': hr2clicked, 'btnHrStyle': !hr2clicked}">12 Ώρες</button></li>
            <li>&nbsp;<button type="button" class="btn" style=" outline: 0;" ng-model="hr3" (click)="hrClick(24)" [ngClass]="{'btnHrStyleClicked': hr3clicked, 'btnHrStyle': !hr3clicked}">24 ΄Ωρες</button></li>
        </ul>
    </div>
   
</nav>

<div style="margin-top:70px;min-width:250px;" class="row">
    <div class="col-sm-12">
        <a class="btn btn-link" (click)="ctrClick(1)" ng-model="cat1" [ngClass]="{'btnCategoryClicked': cat1clicked}" style="outline:none;">Γενικά</a>
        <a class="btn btn-link" (click)="ctrClick(4)" ng-model="cat4" [ngClass]="{'btnCategoryClicked': cat4clicked}" style="outline:none;">Αθλητισμός</a>
        <a class="btn btn-link" (click)="ctrClick(5)" ng-model="cat5" [ngClass]="{'btnCategoryClicked': cat5clicked}" style="outline:none;">Επιστήμη</a>
        <a class="btn btn-link" (click)="ctrClick(2)" ng-model="cat2" [ngClass]="{'btnCategoryClicked': cat2clicked}" style="outline:none;">Οικονομία</a>
        <!--
      
        <a class="btn btn-link" (click)="ctrClick(3)" ng-model="cat3" [ngClass]="{'btnCategoryClicked': cat3clicked}" style="outline:none;">Auto</a>-->
        <!--<a class="btn btn-link" (click)="ctrClick(5)" ng-model="cat5" [ngClass]="{'btnCategoryClicked': cat5clicked}" style="outline:none;">Test test</a>-->
    </div>
    
</div>
<!--News Generator--> 

          
        <table class="table table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
               
                <tr *ngFor="let item of totalNews">
                    <td style="font-size:24px;min-width:25px;"><img [src]="sanitize(item.logo + '/logo.png')" /></td>
                    <td style="font-size:24px;min-width:250px;"><a target="_blank" [href]="sanitize(item.link)" style="color:black;font-size:14px; text-decoration:none;" onMouseOver="this.style.color='#11AAF6'" onMouseOut="this.style.color='black'">{{item.title}}</a></td>
                    <!--<td><button type="button" class="btn btn-link btn-sm" style="outline: none;text-decoration: none; font-size:14px " (click)="clickBtn(item.link, item.id)">{{item.title}}</button></td>-->
                </tr>
                <tr>
                    <td></td>
                    <td *ngIf="news.length > 0" (click)="newPage()"><!--<a>Load More...</a>--> <button type="button" class="btn btn-link" style="outline:0;">Load More...</button></td>
                </tr>
            </tbody>
        </table>
 

   
