﻿
@{
    ViewBag.Title = "Index";
    Layout = null;
} 
        <table class="table table-hover">
            <thead>   
                <tr>
                    <th>
                        Menu
                    </th>
                </tr>

                
            </thead>
            <tbody>

                  <tr>
                      <td>@Html.ActionLink("Company", "Company", "Company")</td>
                  </tr>
                <tr>
                    <td>@Html.ActionLink("Category", "Category", "Category")</td>
                </tr>
                <tr>
                    <td>@Html.ActionLink("Country", "Country", "Country")</td>
                </tr>
                <tr>
                    <td>@Html.ActionLink("Metadata", "Metadata", "Metadata")</td>
                </tr>
                <tr>
                    <td>@Html.ActionLink("Check Rss", "CheckRss", "Admin")</td>
                </tr>
                
                <tr>
                    <td>Logs</td>
                </tr>
            </tbody>
        </table>
       
   
    


