﻿@{
    ViewBag.Title = "Index";
    Layout = null;
}


    

        <ul style="list-style: none; text-align:center; padding-left:30px;padding-right:30px; font-family: 'Maven Pro', sans-serif;font-size: 28px;">
            <li class="boxesInfo">
                $ 0.84
                <div style="font-size: 10px;">euro to dollar</div>
            </li>
            <li class="boxesInfo">£ 1.14<div style="font-size: 10px;">euro to pound</div> </li>
            <li class="boxesInfo">฿ 20 000 <div style="font-size: 10px;">euro to bitcoin</div></li>
        </ul>
    


@*<div class="navbar-collapse collapse">

    <ul class="nav navbar-nav" style="list-style: none; text-align:center; padding-left:30px;padding-right:30px; font-family: 'Maven Pro', sans-serif;font-size: 28px;">
        <li class="boxesInfo">
            $ 0.84
            <div style="font-size: 10px;">euro to dollar</div>
        </li>
        <li class="boxesInfo">£ 1.14<div style="font-size: 10px;">euro to pound</div> </li>
        <li class="boxesInfo">฿ 20 000 <div style="font-size: 10px;">euro to bitcoin</div></li>
    </ul>
</div>*@

    


