﻿@{
    ViewData["Title"] = "Newsator - Γεννητρια Ειδησεων";
}



<div class="row">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
       
            @*@await Html.PartialAsync("~/Views/Shared/admin/_UserLeftColumn.cshtml")*@
            <left-side></left-side>
              
    </div>
    <div class="col-xs-10 col-sm-10 col-md-8 col-lg-6">
        @*id="scroller"*@
        <news-list></news-list>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-2 col-lg-4">

      
    </div>
</div>
<my-app></my-app>
