﻿body {
    /*padding-top: 50px;*/
    /*padding-top: 10px;*/
    padding-bottom: 20px;
    /*overflow: hidden;*/
    
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}
.btnHrStyleClicked {
    background-color: #337ab7;
    color: white !important;
}
.btnHrStyle {
    background-color: black;
    color: white !important;
}
.btnCategoryClicked {
    text-decoration: underline;
    border-bottom: 1px solid ;
    line-height: 0.85;
}

li.boxesInfo {
    /*background-color: white;*/
    color:white;
    opacity: 0.99;
    margin-bottom: 20px;
}
li.boxesInfo:hover {
    opacity: 0.95;
    /*background-color: lightgray;*/
}


ul.timeList li {
    width: auto;
    float: left;
    list-style: none;
}

.leftContent {
    /*background-image: url('../../../images/bg_image.jpg');*/
    /*background-color: #f8f8f8;
    height: 100vh;*/
    /*background-color: #f8f8f8;*/
    height: 100vh;
    position: fixed;
    margin-top: 50px;
    /*left:0px;*/
    
}

.currencyInline {
    text-align: center;
}
.currencyInline {
    display: inline;
}

.table-border th,td,tr {
    border-top: hidden;
}

/*
    left content, open/close navbar
*/
.mySidenav{
    width:245px !important;
}
.mySidenavClose {
    width: 0px !important;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 12px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

        .sidenav a:hover {
            color: #f1f1f1;
        }

    .sidenav .closebtn {
        position: absolute;
        top: 50px;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 12px;
        }
}
/* SCROLLBAR */
/* Let's get this party started */

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 1400px) {
    .mySidenav {
        width: 180px !important;
    }
}

@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
