﻿<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: "Lato", sans-serif;
        }


    </style>
</head>

<div class="row">
    <div class="col-xs-1 col-sm-10 col-md-9 col-lg-9">
        <h1 (window:resize)="onResize($event)"></h1>
        <div [hidden]="leftContentBtn">
            <!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" style="margin-top:65px;">
                !
            </button>-->
            <button class="btn btn-default" style="font-size:15px;cursor:pointer;margin-top:40px; background-color:white;outline: none; " (click)="openNav()">&#9776;</button>
        </div>

            <div id="mySidenav" class="sidenav" [ngClass]="{'mySidenav': mySidenavWidth, 'mySidenavClose': !mySidenavWidth}" >
                <div [hidden]="leftContentBtn">
                    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
                </div>
                

                <!--<a href="#">About</a>
                <a href="#">Services</a>
                <a href="#">Clients</a>
                <a href="#">Contact</a>-->

                <table class="table table-dark table-border" style="margin-top:50px;">

                    <tbody>
                        <tr>
                            <td></td>
                            <th scope="row" *ngIf="USD_EUR > 0">
                                <div style="color:white">
                                    $ {{USD_EUR | number : '1.2-2'}}
                                </div>
                                

                                <div style="font-size: 10px;color:lightgray">euro to dollar</div>
                            </th>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <th scope="row" *ngIf="GBP_EUR > 0">
                                <div style="color:white">
                                    £ {{GBP_EUR | number : '1.2-2'}}<div style="font-size: 10px;color:lightgray">euro to pound</div>
                                </div>
                               
                            </th>
                            <td></td>

                        </tr>
                        <tr>
                            <td></td>
                            <th scope="row" *ngIf="BTC_EUR > 0">
                                <div style="color:white">
                                    ฿ {{BTC_EUR | number : '1.2-2'}} <div style="font-size: 10px;color:lightgray">euro to bitcoin</div>
                                </div>
                               
                            </th>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>

                            <th *ngIf="OIL_USD > 0">
                                
                                <div style="color:white">
                                    <img src="../../../images/oil.png" />
                                    {{OIL_USD | number : '1.2-2'}}
                                </div>
                                
                                <div style="font-size: 10px;color:lightgray">dollars barrel</div>
                            </th>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <p></p>
                <!--<hr />-->

                <a href="#">Σχετικά με εμάς</a>
                <a href="#">Όροι Χρήσης</a>
                <a href="#">Επικονωνία</a>
            </div>
        
        

        
        <p></p>
        


        <!--<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div >
                            

                            
                            <ul style="list-style: none; text-align:center; padding-right:80px; font-family: 'Maven Pro', sans-serif;font-size: 28px;">
                                <li class="boxesInfo" *ngIf="USD_EUR > 0">
                                    $ {{USD_EUR | number : '1.2-2'}}
                                    <div style="font-size: 10px;color:#337ab7">euro to dollar</div>
                                </li>
                                <li class="boxesInfo" *ngIf="GBP_EUR > 0">£ {{GBP_EUR | number : '1.2-2'}}<div style="font-size: 10px;color:#337ab7">euro to pound</div> </li>
                              
                                <li class="boxesInfo" *ngIf="BTC_EUR > 0">฿ {{BTC_EUR | number : '1.2-2'}} <div style="font-size: 10px;color:#337ab7">euro to bitcoin</div></li>
                                <li *ngIf="OIL_USD > 0">
                                    <img src="../../../images/oil.png" style="max-width: 30px; max-height: 30px;"/> {{OIL_USD | number : '1.2-2'}}
                                <div style="font-size: 10px;color:#337ab7">dollars barrel</div>
                                </li>
                            </ul>
                            <hr />
                            <button type="button" class="btn btn-link">Όροι Χρήσης</button>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                       
                    </div>
                </div>
            </div>
        </div>
        
        <div class="leftContent" [hidden]="leftColumn">
            <h1 (window:resize)="onResize($event)"></h1>
            <table class="table table-dark table-border">
                
                <tbody>
                    <tr>
                        <td></td>
                        <th scope="row" *ngIf="USD_EUR > 0">
                            $ {{USD_EUR | number : '1.2-2'}}

                            <div style="font-size: 10px;color:#337ab7">euro to dollar</div>
                        </th>
                       <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <th scope="row" *ngIf="GBP_EUR > 0">
                            £ {{GBP_EUR | number : '1.2-2'}}<div style="font-size: 10px;color:#337ab7">euro to pound</div>
                        </th>
                        <td></td>

                    </tr>
                    <tr>
                        <td></td>
                        <th scope="row" *ngIf="BTC_EUR > 0">
                            ฿ {{BTC_EUR | number : '1.2-2'}} <div style="font-size: 10px;color:#337ab7">euro to bitcoin</div>
                        </th> 
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>

                        <th *ngIf="OIL_USD > 0">
                            <img src="../../../images/oil.png" style="max-width: 30px; max-height: 30px;" /> {{OIL_USD | number : '1.2-2'}}
                            <div style="font-size: 10px;color:#337ab7">dollars barrel</div>
                        </th>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <hr />
            <button type="button" class="btn btn-link">Όροι Χρήσης</button>
        </div>-->

    </div>
    <div class="col-xs-1 col-sm-2 col-md-3 col-lg-3"></div>
</div>


