﻿@model NewsWeb.Models.CompanyModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Add Company</h2>

<div class="row">
    
    <div class="col-sm-2">
        @await Html.PartialAsync("~/Views/Shared/admin/_AdminLeftMeu.cshtml")
    </div>
    <div class="col-sm-4">
        @using (Html.BeginForm("AddCompany", "Company", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="form-group">
                @Html.LabelFor(x => x.Countries, new {@class = "control-label"})
                @Html.DropDownListFor(m => m.CountryId, Model.Countries, new {@class = "form-control"})
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Name, new {@class = "control-label"})
                @Html.TextBoxFor(x => x.Name, new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.Name,"" ,new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.UserName, new {@class = "control-label"})
                @Html.TextBoxFor(x => x.UserName, new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.UserName,"", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.files, new { @class = "control-label" })
                <input type="file" name="files" accept="image/ico" required/>
            </div>
            <input id="btnSubmit" type="submit" value="Submit" />
        }
        

    </div>
    <div class="col-sm-6"></div>

</div>