﻿@model NewsWeb.Models.CompanyViewModel

<h2>Company</h2>
<h3><button type="button" class="btn btn-link" style="color:red">@Html.ActionLink("Add Company", "AddCompany", "Company")</button></h3>
<div class="row">
    <div class="col-sm-2">
        
             @await Html.PartialAsync("~/Views/Shared/admin/_AdminLeftMeu.cshtml")
        @*into script section it includes layout*@
        
        
        
    </div>
    <div class="col-sm-5">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Country Id</th>
                    <th>Name</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.Companies)
            {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.CountryId</td>
                        <td>@item.Name</td>
                        <td><button type="button" class="btn btn-link">N/A</button></td>
                        <td><button type="button" class="btn btn-link" style="color:red">@Html.ActionLink("Delete", "Delete", "Company", new { id = item.Id },null)</button></td>
                    </tr>
                }

            </tbody>
        </table>
        
    </div>
    <div class="col-sm-5"></div>
</div>
