﻿@model NewsWeb.Models.AdminViewModel.RoleModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Add Role</h2>
@using (Html.BeginForm("AddRole", "Admin", FormMethod.Post))
{
    @Html.TextBoxFor(m => m.Title)
    <br/>
    <input id="btnSubmit" type="submit" value="Submit" />

}
