﻿@model NewsWeb.Models.RssModel
@{
    ViewData["Title"] = "CheckRss";
}

<h2>CheckRss</h2>
<div class="row">
    <div class="col-sm-4">
        @await Html.PartialAsync("~/Views/Shared/admin/_AdminLeftMeu.cshtml")
        
    </div>
    <div class="col-sm-4">
        @using (Html.BeginForm("CheckRss", "Admin", FormMethod.Post))
        {
            @Html.TextBoxFor(x => x.rssUrl)
            <br />
            <input id="btnSubmit" type="submit" value="Submit" />

        }
    </div>
    <div class="col-sm-4">
        @if (Model != null && Model.Feeds.Count > 0)
        {
            @foreach (var item in Model.Feeds)
            {
                <span>@item.Title</span><br />
                <span>@item.PublishDate</span><br />
                <span>@item.Link</span><br />
                <span>@item.Content</span><br />

                <hr />

            }

        }
        
    </div>
</div>

   
