﻿@model NewsWeb.Models.MetadataModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Metadata</h2>
<div class="row">

    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        @using (Html.BeginForm("Metadata", "Admin", FormMethod.Post))
        {
            <div class="form-group">
                @Html.LabelFor(x => x.Countries, new { @class = "control-label" })
                @Html.DropDownListFor(m => m.CountryId, Model.Countries, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Companies, new { @class = "control-label" })
                @Html.DropDownListFor(m => m.CompanyId, Model.Companies, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Categories, new { @class = "control-label" })
                @Html.DropDownListFor(m => m.CategoryId, Model.Categories, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.RssPath, new { @class = "control-label" })
                @Html.TextBoxFor(x => x.RssPath, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RssPath, "", new { @class = "text-danger" })
            </div>
            
            <input id="btnSubmit" type="submit" value="Submit" />
        }


    </div>
    <div class="col-sm-4"></div>

</div>
