﻿@model NewsWeb.Models.CountryListModel

<h2>Country</h2>
<h3><button type="button" class="btn btn-link" style="color:red">@Html.ActionLink("Add Country", "AddCountry", "Country")</button></h3>
<div class="row">
    <div class="col-sm-2">

        @await Html.PartialAsync("~/Views/Shared/admin/_AdminLeftMeu.cshtml")
        @*into script section it includes layout*@



    </div>
    <div class="col-sm-5">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Country</th>
                    <th>Is Active</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.CountryDto)
            {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Title</td>
                        <td>@item.IsActive</td>
                        <td><button type="button" class="btn btn-link">@Html.ActionLink("Edit", "AddCountry", "Country", new { id = item.Id }, null)</button></td>
                        <td><button type="button" class="btn btn-link" style="color:red">@Html.ActionLink("Delete", "Delete", "Country", new { id = item.Id }, null)</button></td>
                    </tr>
                }

            </tbody>
        </table>
       
    </div>
    <div class="col-sm-5"></div>
</div>
